<!DOCTYPE html>
<html>

 <head>
  <title>Shop Inventory</title>
 </head>

 <body>
 <header>
 <h1>Header</h1>
   </header>
   <nav>
       <a href="/ebikes">eBikes</a>
       <a href="/brands">Brands</a>  
       <a href="/types">Types</a>   
   </nav>
   <%= yield %>
 </body>  
</html>