<!DOCTYPE html>
<html>
 <head>
  <title>Shop Inventory</title>

 </head>
 <body>
   <nav>
     <ul>
       <li>
       <a href="/ebikes">eBikes</a>
       </li>
       <li>
       <a href="/brands">Brands</a>
       </li>
     </ul>
   </nav>
   <%= yield %>

 </body>  

</html>