
<table>

  <tr>
   <th>Name</th>
   <th>Address</th>
   <th>Contact_number</th>
  </tr>

  <% @brands.each do |type| %>

  <tr>
   <td>
    <a href="/brands/<%= brand.id %>"><%= brand.name %></a>
   </td>
    <td><%= brand.address %></td>
    <td><%= brand.contact_number %></td>
   </tr>

<% end %>

</table>
